server:
  port: 8084
  shutdown: graceful

spring:
  application:
    name: trip-service
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    driverClassName: com.mysql.cj.jdbc.Driver
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
  lifecycle:
    timeout-per-shutdown-phase: 30s # 기존 작업이 끝날 때까지 최대 30초 기다려줌.

  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: ${SPRING_REDIS_PORT:6379}

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      acks: all
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        enable.idempotence: true
        delivery.timeout.ms: 120000
        linger.ms: 10
        batch.size: 130000
        compression-type: zstd # 압축
        request.timeout.ms: 30000
    consumer:
      group-id: trip-service-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        max.poll.interval.ms: 600000
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.use.type.headers: true
        spring.json.trusted.packages: "*"
        max.poll.records: 100
        spring.json.type.mapping: >
          com.example.matching_service.dto.kafka.TripMatchedEvent:com.example.trip_service.kafka.dto.TripMatchedEvent,
          com.example.payment_service.kafka.dto.PaymentCompletedEvent:com.example.trip_service.kafka.dto.PaymentCompletedEvent,
          com.example.payment_service.kafka.dto.PaymentFailedEvent:com.example.trip_service.kafka.dto.PaymentFailedEvent,
          com.example.geospatial_service.kafka.dto.DriverLocationUpdatedEvent:com.example.trip_service.kafka.dto.DriverLocationUpdatedEvent
    template:
      observation-enabled: true

resilience4j:
  circuitbreaker:
    instances:
      driver-service:
        failure-rate-threshold: 50
        minimum-number-of-calls: 10
        sliding-window-type: count-based
        sliding-window-size: 100
        wait-duration-in-open-state: 15s
        permitted-number-of-calls-in-half-open-state: 5
      user-service:
        failure-rate-threshold: 50
        minimum-number-of-calls: 10
        sliding-window-type: count-based
        sliding-window-size: 100
        wait-duration-in-open-state: 15s
        permitted-number-of-calls-in-half-open-state: 5
      naver-service:
        failure-rate-threshold: 50
        minimum-number-of-calls: 10
        sliding-window-type: count-based
        sliding-window-size: 100
        wait-duration-in-open-state: 60s
        permitted-number-of-calls-in-half-open-state: 5
  timelimiter:
    instances:
      driver-service:
        timeout-duration: 1s
        cancel-running-future: true
      user-service:
        timeout-duration: 1s
        cancel-running-future: true
      naver-service:
        timeout-duration: 3s
        cancel-running-future: true

naver:
  api:
    client-id: "${NAVER_CLIENT_ID:}"
    client-secret: "${NAVER_CLIENT_SECRET:}"

services:
  user-service:
    url: "${USER_SERVICE_URL:http://user-service}"
  driver-service:
    url: "${DRIVER_SERVICE_URL:http://driver-service}"

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: "${EUREKA_DEFAULT_ZONE:http://localhost:8761/eureka}"

management:
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always

  endpoints:
    web:
      exposure:
        include: "health, prometheus"

  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

  tracing:
    sampling:
      probability: 1.0
    zipkin:
      tracing:
        endpoint: "${ZIPKIN_ENDPOINT:http://localhost:9411/api/v2/spans}"